h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

#author_name {
    color: rgb(0, 162, 255);
}

.author {
    font-size: 16px;
    color: gray;
    line-height: 20%;
    margin-bottom: 30px;
}

#author_date {
    font-size: 12px;
}

#photo_source {
    font-size: 11px;
    line-height: 20%;
    margin-bottom: 30px;
}

#evidence {
    background-color: yellow;
}

ul, li {
   margin: 0;
   text-align: left;
}