header {
    background-color: #51A6E0;
    background-image: url("pattern.png");
}

h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

#author_name {
    color: rgb(0, 162, 255);
}

.author {
    font-size: 16px;
    color: gray;
    line-height: 20%;
    margin-bottom: 30px;
}

#author_date {
    font-size: 12px;
}

#photo_source {
    font-size: 12px;
    line-height: 20%;
    margin-bottom: 30px;
}

.text, #table, #list {
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}


#evidence {
    background-color: yellow;
}

ul {
    padding-left: 15px;
}

#table {
    text-align: left;
    border-collapse: collapse;
}

#table_titles {
    background-color: #51A6E0;
    color: white;
}

.color_row {
    background-color: #BCE4F0;
}

.first_col, .second_col {
    width: 25%;
    height: 3em;
}

#link {
    color: gray;
    font-size: 14px;
}

.text_top1 {
    position: absolute;
    top: 1130px;
    left: 20px;
    color: white;
    font-size: 23px;
}

.text_top2 {
    position: absolute;
    top: 1350px;
    left: 20px;
    color: white;
    font-size: 23px;
}